body {
  margin: 0px;
  padding: 0px;
  font-family: /*iOS*/ "AvenirNextCondensed-Bold", "Futura-CondensedExtraBold",
    /*MacOSX*/ HelveticaNeue-CondensedBold, /*Ubuntu*/ "Ubuntu Condensed",
    "Liberation Sans Narrow", /*Windows*/ "Franklin Gothic Demi Cond",
    "Arial Narrow", /*Android*/ sans-serif-condensed, /*Fallback*/ Arial,
    "Trebuchet MS", "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-size: 1.25rem;
}
